include LICENSE
include README.rst
include pytest_libiio/resources/adi_hardware_map.yml
include pytest_libiio/resources/devices/ad9081.xml
include pytest_libiio/resources/devices/ad9371.xml
include pytest_libiio/resources/devices/adrv9002.xml
include pytest_libiio/resources/devices/pluto.xml

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
