<button class="" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" onclick="render_code('{{ device['name'] }}','{{ chan }}','{{ attr }}')" aria-controls="offcanvasExample">EX</button>
