site_name: pytest-libiio
site_description: A pytest plugin to manage interfacing with libiio contexts
site_author: Travis F. Collins

#theme: readthedocs
theme:
  name: material

repo_url: https://github.com/tfcollins/pytest-libiio

nav:
    - Home: index.md
    - Fixtures: fixtures.md
    - Emulation: emulation.md
    - CLI: cli.md
    - Emulated Driver Contexts:
{%- for xml in xmls %}
       - {{ xml }}:
{%- for dev in xmls[xml] %}
          - {{ dev }}: {{ xmls[xml][dev] }}
{%- endfor %}
{%- endfor %}

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences

extra_javascript:
  - js/extra.js

extra_css:
  - css/extra.css